.form {
  &_field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      width: 100%;
      //   margin-top: 3rem;
      margin-bottom: 3rem;
      align-items: flex-start;
    }
  }

  &_label {
    flex: 1;
  }

  &_input {
    height: 3rem;
    border: none;
    outline: none;
    flex: 3;
    padding: 1rem;

    @media only screen and (max-width: $mobile-breakpoint) {
      width: 100%;
      //   margin-top: 2rem;
    }
  }
}
