@mixin imageFluid {
  width: 100%;
  object-fit: cover;
}

.mt-s {
  margin-top: 1vw;
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.s-hide {
  visibility: hidden;
  opacity: 0;
}

.s-show {
  visibility: visible;
  opacity: 1;
}
.mt-m {
  margin-top: 2vw;
}
.mt-l {
  margin-top: 3.5vw;
}
.mb-s {
  margin-bottom: 1.3vw;
}
.mb-m {
  margin-bottom: 2vw;
}
.mb-l {
  margin-bottom: 3.5vw;
}
.ml-s {
  margin-left: 1vw;
}
.ml-m {
  margin-left: 2vw;
}
.ml-l {
  margin-left: 3.5vw;
}
