.home_featured {
  grid-column: grid-start/grid-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  @media only screen and (max-width: $mobile-breakpoint) {
    // grid-row: 6;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    // margin: 2rem;
    // grid-column: 1/-1;
    // margin: 2rem;
    // grid-column: 1/-1;
    // justify-items: center;
    // grid-template-columns: 1fr;
    // grid-column: 1/-1;
  }

  &_heading {
    grid-column: 4/6;
    justify-self: center;
    grid-row: 1;
  }

  &_items {
    grid-column: 2/8;
    grid-row: 2;
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2.5vw;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    @media only screen and (max-width: $mobile-breakpoint) {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
  }
}
