.home_featured{
    grid-column: grid-start/grid-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    &_heading{
        grid-column: 4/6;
        justify-self: center;
        grid-row: 1;
    }

    &_items{
        grid-column: 2/8;
        grid-row: 2;
        display: grid;
        grid-column-gap: 5vw;
        grid-row-gap: 2.5vw;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }

    


}