.payment {
  background: $color-tertiary;
  padding: 2rem;
  grid-row: 3;
  grid-column: 3/7;
  margin-top: 4rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-column: 1/-1;
  }

  &_form_field {
    display: flex;
  }

  // &_radio_control {
  //   display: block;
  //   width: 1rem;
  //   height: 1rem;
  //   border-radius: 50%;
  //   border: 0.1em solid $color-secondary;
  // }
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.4rem;
  font-size: 1.75rem;
  color: $color-primary;

  &:focus-within {
    .radio__label {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus + .radio__control {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.1em 0.1em $color-primary;
    }
    &:focus + .radio__control-gold {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.1em 0.1em $color-primary;
    }
  }
}

.radio-gradient input:checked + .radio__control {
  background: radial-gradient($color-primary 50%, rgba(255, 0, 0, 0));
}
.radio-gradient-gold input:checked + .radio__control-gold {
  background: radial-gradient($color-tertiary 50%, rgba(167, 112, 29, 1));
}

.radio-before {
  .radio__control {
    display: grid;
    place-items: center;
  }

  input:checked + .radio__control::before {
    transform: scale(1);
  }
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid $color-primary;
  transform: translateY(-0.05em);
}
.radio__control-gold {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid $color-secondary;
  transform: translateY(-0.05em);
}
