.shopping_item {
  display: inline-block;

  a {
    color: $color-secondary;
  }

  &_image {
    // width: 25vw;
  }

  &_content {
    &_name {
      font-weight: 800;
    }

    &_price {
      // opacity: 0.8;
    }
  }
}
