.sign_up {
  grid-column: grid-start/grid-end;
  background-color: $color-tertiary;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  grid-column-gap: 4vw;
  align-items: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 5vw 0;
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-row-gap: 3vw;
  }

  &__image {
    grid-column: 1/4;

    img {
      display: block;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
      grid-row: 1;
      grid-column: 2/6;
    }
  }

  &_heading {
    grid-column: 1/-1;
    grid-row: 2;
    // text-align: center;
    text-transform: capitalize;
  }

  &__content {
    grid-column: 4/8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: $mobile-breakpoint) {
      grid-column: 2/6;
      grid-row: 2;
      justify-items: center;
    }
  }

  &_form {
    grid-column: 1/-1;
    grid-row: 3;

    input {
      height: 3.5vw;
      width: 24vw;
      color: $color-secondary;
      background-color: #fff;
      padding: 0 1vw;
      outline: 0;
      margin-right: 1vw;
      font-size: 1vw;
      border: none;

      @media only screen and (max-width: $mobile-breakpoint) {
        width: 95vw;
        height: 14vw;
        font-size: 3.6vw;
        margin-bottom: 3.5vw;
      }
    }
  }

  &_btn {
    grid-column: 7;
    grid-row: 3;
  }
}
